button{
    width:750px;
    margin-left:120px;
    background-color: antiquewhite;
    margin-top:10px;
    padding:18px;
    border-style: none;
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
div{
    display:flex;
    flex-direction: column;
}
.btn{
    margin-top:20px;
    

}
span{
    color:red;
}